.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tour-description {
  margin-bottom: 20px;
  text-align: center;
}

.tour-description img {
  width: 80%;
  max-width: 300px;
  /* Ajusta según necesites */
  height: auto;
  border-radius: 6px;
  margin-bottom: 8px;
}

.tour-description p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.form-row {
  display: flex;
  flex-direction: column;
  /* Cambiar de fila a columna */
  align-items: center;
  margin-bottom: 20px;
}

.form-row ion-item {
  flex: 1;
  margin-right: 0;
  /* Quitar el margen entre elementos */
  margin-bottom: 10px;
  /* Añadir margen inferior */
}


.additional-info {
  margin-bottom: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.additional-info .info-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional-info img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.additional-info .info-text {
  flex: 1;
}

.additional-info h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.additional-info p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.details-section {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.details-section h2 {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 10px;
}

.details-section p {
  font-size: 1rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section .details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.details-section .details ion-icon {
  margin-right: 10px;
}

.details-section .details p {
  font-size: 1rem;
  line-height: 1.5;
}

.image-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-gallery .image-item {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.image-gallery .image-item:hover {
  transform: scale(1.1);
}

.image-gallery .image-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

ion-button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: background 0.3s;
}

ion-button:hover {
  background: #0056b3;
}

.interactive-container {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.interactive-container:hover {
  transform: scale(1.05);
}

ion-icon.blue-icon {
  color: #007bff;
  font-size: 1.5rem;
  margin-right: 10px;
}

p {
  font-size: 1rem;
  margin: 0;
}

ion-toolbar .header-logo {
  max-width: 40px;
  height: auto;
}