<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/package"></ion-back-button>
      <img src="assets/img/AT.png" alt="Logo" class="header-logo">
    </ion-buttons>
    <ion-title>{{ packageDetails.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Descripción del tour por la Carretera Austral -->
    <div class="tour-description">
      <img src="assets/img/22.jpg" alt="Carretera Austral">
      <p>La Carretera Austral es una ruta escénica en el sur de Chile, que atraviesa paisajes impresionantes y naturaleza virgen. ¡Conoce más sobre este destino imperdible!</p>
    </div>

    <!-- Selección de fechas, número de personas y botón de reserva -->
    <div class="form-row">
      <div class="compact-date">
        <ion-item>
          <ion-label>Fecha de inicio</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
      </div>
      
      <div class="compact-date">
        <ion-item>
          <ion-label>Fecha de fin</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
      </div>
      
      <div class="num-persons">
        <ion-item>
          <ion-label>Seleccionar número de personas</ion-label>
          <ion-select [(ngModel)]="numPersons">
            <ion-select-option *ngFor="let option of personOptions" [value]="option">
              {{ option }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      
      <div class="reserve-button">
        <ion-button (click)="reservePackage()">Agendar</ion-button>
      </div>
    </div>

    <!-- Detalles del tour en una sección interactiva -->
    <div class="interactive-container details-section">
      <h2>{{ packageDetails.name }}</h2>
      <div class="details">
        <ion-icon name="information-circle-outline" class="blue-icon"></ion-icon>
        <p>{{ packageDetails.description }}</p>
      </div>
      <div class="details">
        <ion-icon name="time-outline" class="blue-icon"></ion-icon>
        <p><strong>Duración:</strong> {{ packageDetails.duration }}</p>
      </div>
      <div class="details">
        <ion-icon name="people-outline" class="blue-icon"></ion-icon>
        <p><strong>Cantidad Máxima de Personas:</strong> {{ packageDetails.cantPersonMax }}</p>
      </div>
      <div class="details">
        <ion-icon name="calendar-outline" class="blue-icon"></ion-icon>
        <p><strong>Fechas Disponibles:</strong> {{ packageDetails.fechaIni }} - {{ packageDetails.fechaTer }}</p>
      </div>
      <div class="details">
        <ion-icon name="location-outline" class="blue-icon"></ion-icon>
        <p><strong>Ubicación:</strong> {{ packageDetails.location }}</p>
      </div>
      <div class="details">
        <ion-icon name="pricetag-outline" class="blue-icon"></ion-icon>
        <p><strong>Precio:</strong> {{ packageDetails.price }}</p>
      </div>
      <div class="details">
        <ion-icon name="star-outline" class="blue-icon"></ion-icon>
        <p><strong>Rating:</strong> {{ packageDetails.rating }}</p>
      </div>
    </div>

    <!-- Información adicional sobre la Carretera Austral -->
    <div class="additional-info">
      <div class="info-content">
        <img src="assets/img/images.jpg" alt="Carretera Austral 2">
        <div class="info-text">
          <h3>Descubre la majestuosidad de la Carretera Austral</h3>
          <p>Explora una de las rutas más impresionantes de Chile, la Carretera Austral, que te llevará a través de paisajes vírgenes y experiencias únicas. Conocida por sus montañas imponentes, lagos de color turquesa y naturaleza salvaje, este destino es perfecto para los amantes de la aventura y la tranquilidad.</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>
