<ion-header>
  <ion-toolbar>
    <ion-title>Buscar por Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange()">
      <ion-select-option value="restaurant">Restaurantes</ion-select-option>
      <ion-select-option value="museum">Museos</ion-select-option>
      <ion-select-option value="park">Parques</ion-select-option>
      <!-- Añadir más categorías según sea necesario -->
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let place of places">
      <ion-label>
        <h2>{{ place.name }}</h2>
        <p>{{ place.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
