<ion-header>
  <ion-toolbar>
    <ion-title>Agendar Paquete</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Fecha y Hora de Inicio</ion-label>
    <ion-datetime [(ngModel)]="startDateTime" presentation="date-time" display-format="DD MMM YYYY, h:mm A"
      picker-format="YYYY-MM-DDTHH:mm" [min]="todayISOString"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="confirmBooking()">Confirmar Reserva</ion-button>
  <ion-button expand="block" color="medium" (click)="dismiss()">Cancelar</ion-button>
</ion-content>